In [2]:
import pandas as pd
import gmaps
import requests
from config import g_key

In [3]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-07-24 15:28:47,-53.1500,-70.9167,39.22,81,75,12.66
1,1,Balaipungut,ID,2021-07-24 15:41:54,1.0500,101.2833,82.81,87,58,0.40
2,2,Tuktoyaktuk,CA,2021-07-24 15:33:48,69.4541,-133.0374,53.60,71,40,14.97
3,3,Kodinsk,RU,2021-07-24 15:41:55,58.6881,99.1844,66.24,64,17,3.15
4,4,Opuwo,NaN,2021-07-24 15:41:55,-18.0607,13.8400,74.61,9,0,10.67

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
#configure gmaps to use API key
gmaps.configure(api_key = g_key)

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp, 0))

In [8]:
fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Balaipungut,ID,2021-07-24 15:41:54,1.0500,101.2833,82.81,87,58,0.40
8,8,Takoradi,GH,2021-07-24 15:41:57,4.8845,-1.7554,77.94,70,80,9.22
11,11,Tual,ID,2021-07-24 15:41:58,-5.6667,132.7500,79.72,79,99,12.46
12,12,Botro,CI,2021-07-24 15:41:58,7.8525,-5.3106,80.08,62,100,3.98
17,17,Puerto Ayora,EC,2021-07-24 15:32:46,-0.7393,-90.3518,78.76,78,34,7.00
19,19,Basco,PH,2021-07-24 15:42:00,20.4487,121.9702,82.74,88,94,32.23
20,20,Ponta Do Sol,PT,2021-07-24 15:32:33,32.6667,-17.1000,83.71,64,0,4.90
21,21,Hasaki,JP,2021-07-24 15:34:24,35.7333,140.8333,75.60,83,0,5.99
24,24,Ambon,ID,2021-07-24 15:42:01,-3.6954,128.1814,78.15,85,100,8.25
34,34,Hithadhoo,MV,2021-07-24 15:33:01,-0.6000,73.0833,82.72,77,66,12.17

In [19]:
preferred_cities_df.count()

City_ID       237
City          237
Country       235
Date          237
Lat           237
Lng           237
Max Temp      237
Humidity      237
Cloudiness    237
Wind Speed    237
dtype: int64

In [20]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       2
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [22]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Balaipungut,ID,2021-07-24 15:41:54,1.0500,101.2833,82.81,87,58,0.40
8,8,Takoradi,GH,2021-07-24 15:41:57,4.8845,-1.7554,77.94,70,80,9.22
11,11,Tual,ID,2021-07-24 15:41:58,-5.6667,132.7500,79.72,79,99,12.46
12,12,Botro,CI,2021-07-24 15:41:58,7.8525,-5.3106,80.08,62,100,3.98
17,17,Puerto Ayora,EC,2021-07-24 15:32:46,-0.7393,-90.3518,78.76,78,34,7.00
...,...,...,...,...,...,...,...,...,...,...
551,551,Harper,LR,2021-07-24 15:43:44,4.3750,-7.7169,78.78,66,90,8.28
552,552,Huaibei,CN,2021-07-24 15:45:07,33.9744,116.7917,75.58,90,25,6.76
554,554,Pingdingshan,CN,2021-07-24 15:45:08,33.7385,113.3012,77.40,82,0,1.70
555,555,Libenge,CD,2021-07-24 15:45:08,3.6500,18.6333,81.25,63,100,3.78
556,556,Russell,US,2021-07-24 15:45:09,32.3502,-85.1999,88.92,71,1,0.00

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1    Balaipungut      ID     82.81   1.0500  101.2833
8       Takoradi      GH     77.94   4.8845   -1.7554
11          Tual      ID     79.72  -5.6667  132.7500
12         Botro      CI     80.08   7.8525   -5.3106
17  Puerto Ayora      EC     78.76  -0.7393  -90.3518
19         Basco      PH     82.74  20.4487  121.9702
20  Ponta Do Sol      PT     83.71  32.6667  -17.1000
21        Hasaki      JP     75.60  35.7333  140.8333
24         Ambon      ID     78.15  -3.6954  128.1814
34     Hithadhoo      MV     82.72  -0.6000   73.0833

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Balaipungut,ID,82.81,1.0500,101.2833,
8,Takoradi,GH,77.94,4.8845,-1.7554,Raybow International Hotel
11,Tual,ID,79.72,-5.6667,132.7500,Grand Vilia Hotel
12,Botro,CI,80.08,7.8525,-5.3106,Motel de la Station BOTRO
17,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
19,Basco,PH,82.74,20.4487,121.9702,Nathaniel's Lodge
20,Ponta Do Sol,PT,83.71,32.6667,-17.1000,Hotel do Campo
21,Hasaki,JP,75.60,35.7333,140.8333,Hotel Sunrise Choshi
24,Ambon,ID,78.15,-3.6954,128.1814,Swiss-Belhotel Ambon
34,Hithadhoo,MV,82.72,-0.6000,73.0833,Scoop Guest House

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))